.corner-brackets {
  position: absolute;
  inset: 2.5rem;
  pointer-events: none;
  z-index: 1;
}

.corner-brackets__border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.corner-brackets__corner {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-black);
}

.corner-brackets__corner--top-left {
  top: -0.5px;
  left: -0.5px;
  clip-path: polygon(0 0, 100% 0, 100% 0.5px, 0.5px 0.5px, 0.5px 100%, 0 100%);
}

.corner-brackets__corner--top-right {
  top: -0.5px;
  right: -0.5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 0.5px) 100%, calc(100% - 0.5px) 0.5px, 0 0.5px);
}

.corner-brackets__corner--bottom-left {
  bottom: -0.5px;
  left: -0.5px;
  clip-path: polygon(0 0, 0.5px 0, 0.5px calc(100% - 0.5px), 100% calc(100% - 0.5px), 100% 100%, 0 100%);
}

.corner-brackets__corner--bottom-right {
  bottom: -0.5px;
  right: -0.5px;
  clip-path: polygon(0 calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) 0, 100% 0, 100% 100%, 0 100%);
}

