.stats-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem;
  width: 100%;
}

.stats-row__item {
  position: relative;
}

.stats-row__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -2rem;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-gray-300);
}

