.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  box-sizing: border-box;
  position: relative;
}

.slide__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.slide--single .slide__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slide--split .slide__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
}

.slide--centered .slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}

