* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-serif: 'Crimson Text', serif;
  --font-sans: 'Inter', sans-serif;
  
  --color-black: #000000;
  --color-gray-900: #1a1a1a;
  --color-gray-700: #404040;
  --color-gray-500: #737373;
  --color-gray-400: #a3a3a3;
  --color-gray-300: #d4d4d4;
  --color-gray-200: #e5e5e5;
  --color-gray-100: #f5f5f5;
  --color-white: #ffffff;
  
  --color-blue: #0000ff;
  --color-blue-dark: #0000cc;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-white);
  color: var(--color-gray-900);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

